.column {
  display: flex;
  flex-direction: row;
}

.rowSatu {
  background-color: cadetblue;
  width: 50%;
  display: flex;
  flex-direction: column; /* isinya bisa row | row-reverse | column | column-reverse */
  align-items: flex-start; /* isinya bisa stretch | flex-start | flex-end | center  */
  justify-content: flex-start; /* isinya bisa flex-start | flex-end | center | space-between | space-around | space-evenly */
}

.rowDua {
  background-color: greenyellow;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.cardSatu {
  width: 500px;
  border: 2rem solid blue; /* content yang dibuat dibuat garis */
}

.cardDua {
  width: 500px;
  margin: 2rem; /* content yang dibuat dibuat keluar garis */
  background-color: aqua;
}

.cardTiga {
  width: 500px;
  padding: 2rem; /* content yang dibuat dibuat kedalem dari garis*/
  background-color: aquamarine;
}

.cardEmpat {
  width: 500px;
  margin: 2rem 2rem; /* 2rem pertama buat (atas bawah) || 2rem kedua buat (kanan kiri) */
  padding: 2rem 2rem 2rem 2rem; /* 2rem buat atas || 2rem buat kanan || 2rem buat bawah || 2rem buat kiri */
  border: 2rem solid red;
  background-color: yellow;
}

h1 {
  text-align: center; /* buat ngatur letak kalimat bisa di left | right | center | justify */
  text-transform: lowercase; /* buat ngatur besar kecil kalimat bisa capitalize | uppercase | lowercase  */
  font-size: 1rem; /* buat ngatur ukuran huruf */
  font-weight: 600; /* buat ngatur ketebalan huruf */
}
